<main class="center" id="main">
  <pb-breadcrumbs></pb-breadcrumbs>
  <section>
    <div class="page-area">
      <pb-article
        [title]="'Stay on track'"
        [content]="
          'Do you know where you are spending your money? If you really stop to track it down, you would get surprised! Proper budget management depends on real data... and this app will help you with that!'
        "
      ></pb-article>
      <pb-article
        [title]="'Alerts'"
        [content]="
          'What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.'
        "
      ></pb-article>
      <pb-article
        [title]="'Results'"
        [content]="
          'People who stick to a financial plan, budgeting every expense, get out of debt faster! Also, they to live happier lives... since they expend without guilt or fear... because they know it is all good and accounted for.'
        "
      ></pb-article>
      <pb-article
        [title]="'Free'"
        [content]="
          'This app is free!!! And you are the only one holding your data!'
        "
      ></pb-article>
      <pb-article
        [title]="'Stay on track'"
        [content]="
          'Do you know where you are spending your money? If you really stop to track it down, you would get surprised! Proper budget management depends on real data... and this app will help you with that!'
        "
      ></pb-article>
      <pb-article
        [title]="'Alerts'"
        [content]="
          'What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.'
        "
      ></pb-article>
      <pb-article
        [title]="'Results'"
        [content]="
          'People who stick to a financial plan, budgeting every expense, get out of debt faster! Also, they to live happier lives... since they expend without guilt or fear... because they know it is all good and accounted for.'
        "
      ></pb-article>
      <!-- <pb-article [title]="''" [content]="''"></pb-article> -->

      <article>
        <h1>Chart</h1>
        <figure>
          <!-- <canvas
            id="myChart"
            width="400"
            height="400"
            aria-label="Budget Chart"
            alt="Budget Chart"
            aria-roledescription="Pie Chart"
          ></canvas> -->
          <canvas id="myChart" width="400" height="400"></canvas>
        </figure>
      </article>
    </div>
  </section>
  <!-- <section id="newChart" style="height: 500px"> -->
    <section #newChart style="height: 500px">
    <h1>D3JS Chart</h1>
    <button class="randomize">Randomize</button>
  </section>

  <br />
  <hr />
  <br />
  <!-- A11y Change: Added skip link for to go back to the top of the page -->
  <a href="#top" class="backTop">Skip to top</a>
</main>
